* {
    box-sizing: border-box;
    cursor: crosshair;
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
}

body {
    background-color: #ad547e;
}


#logo {
    display: block;
    margin: 1.4rem auto 1.8rem auto;
    width: 240px;
    filter: brightness(120%) drop-shadow(4px 4px 2px rgba(74, 47, 7, 0.8));
}

#container {
    background-color: antiquewhite;
    width: 80vw;
    height: 70vh;
    border-radius: 40px;
    text-align: center;
    margin: 0 auto;
}

#fundo {
    margin: 1.2rem auto 0 auto;
    width: 60vw;
    z-index: -1;
}

#vasos {
    position: absolute;
    scale: 44%;
    left: 495px;
    bottom: -32px;
    z-index: 0;
}

#pneus {
    position: absolute;
    scale: 44%;
    z-index: 0;
    right: 530px;
    bottom: -95px;
}

#caixa {
    position: absolute;
    scale: 44%;
    z-index: 0;
    right: 335px;
    bottom: -13px;
}

#cacos {
    position: absolute;
    scale: 44%;
    z-index: 0;
    right: 29px;
    top: 335px;
}

#lixo {
    position: absolute;
    scale: 44%;
    z-index: 0;
    right: 303px;
    bottom: -36px;
}

#vasos:hover, #pneus:hover, #caixa:hover, #cacos:hover, #lixo:hover {
    filter: brightness(120%) drop-shadow(8px 8px 8px rgba(74, 47, 7, 0.6));
    transition: 0.2s;
    cursor: pointer;
}

#rodape {
    height: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #4a2f07;
}

#jogo {
    z-index: -1;
}

#teste {
    position: relative;
    top: -500px;
    background-color: rgba(41, 30, 27, 0.65);
    border-radius: 12px;
    z-index: 1;
    margin: 0 auto;
    width: 50vw;
    height: 30vh;
    color: aliceblue;
    font-size: 2rem;
}

#teste > p {
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeout {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

#voltar {
    background-color: #ad547e;
    width: 5rem;
    height: 3rem;
    font-weight: 600;
    font-size: 1.6rem;
    color:antiquewhite;
    border-radius: 32px;
    border: 0;
    cursor: pointer;
}

#jogar, #creditos {
    border: 0;
    font-size: 3rem;
}

#jogar {
    background-color: #ad547e;
    margin-top: 10rem;
}

#creditos {
    width: 60%;
    margin-top: 2rem;
    background-color: transparent;
}

#creditos img {
    width: 400px;
}

#aedes {
    width: 320px;
    animation: sobe 3s infinite;
    transition: 0.5s ease-in-out;
}

/* #aedes:active, #aedes:visited {
    content: url('assets\rip.png');
    animation: none;
} */

@keyframes sobe {
    0% {transform: translateY(0);}
    50% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}

#containerCreditos p {
    font-size: 1.2rem;
}

#containerCreditos p:first-of-type {
    padding-top: 2rem;
}

.titulos {
    font-weight: 600;
}

#botoes p {
    display: inline;
    align-content: space-between;
}